*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
ul{
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    margin-right: 50px;
    font-size: large;
    font-family: sans-serif;
    
}
 li:hover{
    transform: scale(1.2);
    transition: all 0.1s ease-in-out;
   
}
a:hover{
    color: #f73266;
}
header{
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    position: sticky;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
button{
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(255, 9, 156);
    border: 2px solid rgb(255, 9, 156);
    border-radius: 5px;
    cursor: pointer;
    text-align: end;
    justify-content: end;
    border-radius: 15px;
    margin-left: 50px;
    font-weight: bold;
   
}
button:hover{
    background-color: #f73266;
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
    border: 2px solid #f73266;
    color: white;
   
}
section{
   
    background-color: #fd00c614;
    display: flex;
}
.texte{
    margin-left: 100px;
    margin-top: 120px;
    max-width: 600px;
}
.texte h1{
    font-size: 60px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.texte p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: semi-bold;
}
.rendez-vous{
    background-color: #f73266;
    color: #ffffff;
    border: 2px solid #f73266;
}
.rendez-vous:hover{
    background-color: #ffffff;
    color: #f73266;
    border: 2px solid #f73266;
}

.cards{
    display: flex;
    gap: 20px;
    margin-top: 50px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
}
.collection p {
    text-align: center;
    font-size: 20px;
    font-weight: semi-bold;
  
}
.collection h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
 
}
.card p{
    text-align: center;
    font-size: 20px;
    font-weight: semi-bold;
}
.card img {
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    background: #000;
    width: 300px;
    height: 400px;
  
}
.card h2, .card h3 {
    width: 300px;
   height: auto;
    text-align: center;
}
.card img:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;

}
.promo{
    background-color: #e3166870;
    color: white;
    text-align: center;
    margin-top: 5px;
    border-radius: 15px;
}
.service{
    background-color: #ffffff;
    display: flex;
    padding: 50px 0;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 50px;
}
.info-service{
    margin-left: 20px;
    max-width: 600px;
    background-color: #ff73ab30;
    border-radius: 20px;
    padding: 20px;
    padding-bottom:20px;
   
 
}
.info-service ol{
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: none;
    list-style: none;
    margin-right: 170px;
 
}
.info-service h1{
    font-size: 40px;
    font-weight: bold;
}
.coup h1{
    
    text-align: center;
    font-size: 45px;
}
